@charset "UTF-8";
@import url("./utils/bootstrap.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  position: relative;
}

section,
header,
footer {
  scroll-margin-top: 50px;
}

.cta-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.arrow-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.arrow-btn button svg {
  color: #37b24d;
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  transition: color 0.2s ease;
}
.arrow-btn button:hover {
  background-color: #37b24d;
  border-color: #37b24d;
}
.arrow-btn button:hover svg {
  color: #fff;
}

.btn {
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  transition: all 1s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn.btn-default {
  background-color: #37b24d;
  color: #fff;
  border: 3px solid #fff;
}
.btn.btn-default:hover, .btn.btn-default:active {
  background-color: #2b8b3c;
  color: #fff;
}
.btn.btn-default::before, .btn.btn-default::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  transition: all 0.5s;
}
.btn.btn-default::before {
  left: -5px;
  background-color: #fff;
  /* 3px */
  top: 40%;
}
.btn.btn-default::after {
  right: -5px;
  background-color: #fff;
  /* 3px */
  bottom: 40%;
}
.btn.btn-outline {
  background-color: #fff;
  color: #555;
  border: 3px solid transparent;
}
.btn.btn-outline:hover, .btn.btn-outline:active {
  background-color: #ebf7ed;
  border-color: #b3b3b3;
  color: #b3b3b3;
}
.btn.colored-border {
  border-color: #b3b3b3 !important;
}
.btn.no-effect:hover svg, .btn.no-effect:active svg {
  transform: none !important;
  color: #b3b3b3;
}
.btn svg {
  height: 20px;
  width: 20px;
  color: inherit;
  transform: rotate(0);
  transition: color 0.3s ease, transform 0.3s ease;
}
.btn:hover svg, .btn:active svg {
  transform: rotate(90deg);
  color: #b3b3b3;
}
.btn:active, .btn:focus, .btn:focus-visible, .btn:active {
  outline: 0;
  box-shadow: none;
}

* {
  transition: all 0.5s;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 55px;
  line-height: 1.05;
  margin-bottom: 30px;
  color: #37b24d;
}

.heading-four {
  font-size: 24px;
  color: #37b24d;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #ced4da;
  margin-bottom: 20px;
  font-weight: bold;
}

.custom-select {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  border: 2px solid #fff;
  font-size: 16px;
  line-height: normal;
  border-radius: 9px;
}
.custom-select:hover, .custom-select:focus, .custom-select:active, .custom-select:focus-visible {
  box-shadow: 0 0 6px #37b24d;
  outline: none;
  transition: 0.5s all;
}

.selected {
  padding: 20px;
  border-radius: 9px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  right: 0;
  background-color: #37b24d;
  border-radius: 4px;
  display: none;
  font-size: 16px;
  z-index: 5;
  padding: 5px 0;
  border-radius: 4px;
}

.option {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.option:hover {
  background-color: #d7f0db;
  color: #37b24d;
}

#header-wrapper {
  transition: transform 0.5s ease, top 0.5s ease;
}
#header-wrapper.slide-in {
  transform: translateY(0);
  /* ensure it's visible */
}
#header-wrapper.sticky-top-custom {
  position: sticky;
  top: 0;
  z-index: 1000;
  transform: translateY(-100%);
  /* start hidden */
}
#header-wrapper.sticky-top-custom.slide-in {
  transform: translateY(0);
  /* slide into view */
}

#header {
  transition: all 0.3s ease;
  z-index: 9999;
  background-color: #d7f0db;
}
#header.sticky {
  position: fixed;
  /* Bootstrap sticky */
  top: 0;
  z-index: 1020;
  width: 100%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
#header nav.navbar-light .navbar-toggler {
  color: #d7f0db;
  position: absolute;
  z-index: 2000;
  top: 7px;
  right: 0;
  border-color: #37b24d;
  background-color: #37b24d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
#header nav.navbar-light .navbar-toggler span {
  height: 2px;
  width: 24px;
  border-radius: 3px;
  background-color: #d7f0db;
  display: block;
  transition: all 0.3s ease-in-out;
}
#header nav.navbar-light .navbar-toggler.opened span {
  position: absolute;
}
#header nav.navbar-light .navbar-toggler.opened span:first-child {
  transform: rotate(45deg);
}
#header nav.navbar-light .navbar-toggler.opened span:nth-child(2) {
  opacity: 0;
}
#header nav.navbar-light .navbar-toggler.opened span:last-child {
  transform: rotate(-45deg);
}
#header nav ul.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 10px;
  background-color: #37b24d;
  border-radius: 4px;
}
#header nav ul.dropdown-menu[data-bs-popper] li a {
  color: white;
}
#header nav ul.dropdown-menu[data-bs-popper] li a:hover {
  background-color: #d7f0db;
  color: #37b24d;
}
#header nav ul:not(.dropdown-menu) {
  gap: 30px;
  align-items: center;
}
#header nav ul:not(.dropdown-menu) > li > a {
  padding: 0;
  position: relative;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}
#header nav ul:not(.dropdown-menu) > li > a::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #37b24d;
  transition: width 0.3s ease;
}
#header nav ul:not(.dropdown-menu) > li > a.active, #header nav ul:not(.dropdown-menu) > li > a:hover {
  color: #37b24d;
}
#header nav ul:not(.dropdown-menu) > li > a.active::before, #header nav ul:not(.dropdown-menu) > li > a:hover::before {
  width: 100%;
}
#header nav ul:not(.dropdown-menu) > li > a.btn {
  padding: 8px 20px;
  border-radius: 9px;
  color: #fff;
  background-color: #37b24d;
  border-color: #37b24d;
}
#header nav ul:not(.dropdown-menu) > li > a.btn:hover, #header nav ul:not(.dropdown-menu) > li > a.btn:focus, #header nav ul:not(.dropdown-menu) > li > a.btn:active, #header nav ul:not(.dropdown-menu) > li > a.btn:focus-visible {
  background-color: #32a045;
  border-color: #32a045;
  box-shadow: none;
  outline: none;
}
#header nav .offcanvas {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(215, 240, 219, 0.8196078431);
  transition: transform 1s ease-in-out;
}
#header nav .offcanvas.offcanvas-end {
  width: 100%;
}
#header nav .offcanvas .offcanvas-header {
  position: relative;
  padding: 2rem 1rem 1rem;
}
#header nav .offcanvas .offcanvas-header .logo-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav .offcanvas .offcanvas-header .logo-link img {
  width: 30%;
}
#header nav .offcanvas .offcanvas-header .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #32a045;
}
#header nav .offcanvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#header nav .offcanvas .offcanvas-body a#navbarDropdown {
  display: inline-block;
}
#header nav .offcanvas .offcanvas-body ul.dropdown-menu[data-bs-popper] {
  position: relative;
  background-color: transparent;
  border: 0;
  min-width: auto;
  top: 0;
}
#header nav .offcanvas .offcanvas-body ul.dropdown-menu[data-bs-popper] li a {
  color: #333;
  padding: 8px 8px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
}
#header nav .offcanvas .offcanvas-body ul {
  gap: 0px;
}
#header nav .offcanvas .offcanvas-body ul li a svg {
  stroke: #37b24d;
  width: 30px;
  height: 30px;
  stroke-width: 1.2;
}
#header nav .offcanvas .offcanvas-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 2rem;
}
#header nav .offcanvas .offcanvas-footer p {
  font-size: 14px;
  color: #333;
  margin: 0;
}
#header nav .offcanvas .offcanvas-footer p a {
  color: #32a045;
  text-decoration: none;
}
#header nav .offcanvas .offcanvas-footer p a:hover {
  text-decoration: underline;
}

main .section-health {
  background-color: #d7f0db;
  padding: 50px 0 70px 0;
}
main .section-health p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 40px;
}
main .section-health .health-img-box {
  position: relative;
}
main .section-health .health-img-box .health-img {
  position: absolute;
  border-radius: 9px;
  transition: transform 0.8s ease, z-index 0.5s ease-in-out;
  width: 350px;
}
main .section-health .health-img-box .health-img.health-img--1 {
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
main .section-health .health-img-box .health-img.health-img--1:hover {
  transform: translateY(-50%) scale(1.1);
  z-index: 4;
}
main .section-health .health-img-box .health-img.health-img--2 {
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .section-health .health-img-box .health-img.health-img--2:hover {
  transform: translateX(-50%) scale(1.1);
  z-index: 4;
}
main .section-health .health-img-box .health-img.health-img--3 {
  z-index: 2;
  bottom: 0;
  right: 0;
}
main .section-health .health-img-box .health-img.health-img--3:hover {
  transform: scale(1.1);
  z-index: 4;
}
main .section-health .header-swiper .swiper-slide {
  height: auto;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}
main .section-health .header-swiper .swiper-slide-next {
  transform: scale(1.1);
  z-index: 2;
}
main .section-health .header-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section-featured {
  padding: 50px 0 30px 0;
}
main .section-featured h1 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: #999;
}
main .section-featured .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* ✅ Fixed height for all slides */
}
main .section-featured .swiper-slide a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
main .section-featured .swiper-slide a img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0);
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}
main .section-featured .swiper-slide a img:hover {
  filter: brightness(1);
  opacity: 100%;
}
main .section-about {
  padding: 50px 0;
}
main .section-about h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .section-about p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 14px;
}
main .section-about p.heading-four {
  font-size: 24px;
}
main .section-about img {
  width: 100%;
  border-radius: 9px;
}
main .section-about .icon-wrapping {
  background-color: #d7f0db;
  padding: 60px 15px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 40% 15%;
  transform: rotate(-15deg);
  margin-top: 10px;
}
main .section-about .icon-wrapping .icons-about {
  transform: rotate(15deg);
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
main .section-about .icon-wrapping .icons-about svg {
  color: #37b24d;
  font-size: 30px;
  height: 30px;
  width: 30px;
}
main .section-about .icon-wrapping .icons-about figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.3px;
}
main .section-about .icon-wrapping .icons-about figcaption .phase--1 {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
main .section-about .icon-wrapping .icons-about figcaption .phase--2 {
  font-size: 13px;
  color: #37b24d;
  font-weight: bold;
  display: inline-block;
}
main .services-section {
  padding: 50px 0 90px 0;
}
main .services-section p,
main .services-section h1 {
  text-align: center;
}
main .services-section h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .services-section .flip {
  perspective: 800;
  position: relative;
  text-align: center;
  border-radius: 9px;
}
main .services-section .flip .card {
  min-height: 310px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 9px;
  border: none;
}
main .services-section .flip .card.flipped {
  transform: rotatey(-180deg);
}
main .services-section .flip .card.flipped .card-body.back .btn-arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
main .services-section .flip .card .card-body {
  backface-visibility: hidden;
  z-index: 2;
  padding: 0;
  height: 100%;
  border-radius: 9px;
  border: 1px solid #37b24d;
}
main .services-section .flip .card .card-body.front {
  position: absolute;
  width: 100%;
  z-index: 1;
}
main .services-section .flip .card .card-body.front .learn-more-btn {
  bottom: -27px;
  position: absolute;
  padding: 5px 20px;
  left: 0;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background-color: #37b24d;
  color: #fff;
  border: 3px solid #fff;
  transition: 0.5s all;
}
main .services-section .flip .card .card-body.front .service-box-info {
  padding-bottom: 0;
}
main .services-section .flip .card .card-body.back {
  transform: rotatey(-180deg);
  position: absolute;
  width: 100%;
  z-index: 1;
}
main .services-section .flip .card .card-body.back .btn-arrow {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  background-color: #37b24d;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px auto 0;
  padding: 0;
}
main .services-section .flip .card .card-body.back .service-box-info {
  height: auto;
  background-color: #d3f9d8;
  border-bottom: 0;
  margin-bottom: 10px;
  border-radius: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 9px 9px 50px 50px;
}
main .services-section .flip .card .card-body.back .service-box-info h4 {
  font-size: 18px;
  margin: 0;
  color: #333;
}
main .services-section .flip .card .card-body.back .service-box-info svg {
  color: #37b24d;
  padding: 0;
  border-radius: 0%;
  width: 36px;
  height: 36px;
  margin: 0;
  border: 0;
  background-color: #d3f9d8;
}
main .services-section .flip .card .card-body.back .service-box-info .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 0;
  background-color: #d3f9d8;
  gap: 5px;
}
main .services-section .flip .card .card-body.back .service-box-info .rating svg {
  padding: 0;
  height: 20px;
  width: 20px;
  color: #ffd43b;
  border: none;
  background-color: transparent;
  margin: 0;
}
main .services-section .flip .card .card-body .service-box-info {
  height: 100%;
  border-radius: 9px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 0;
}
main .services-section .flip .card .card-body .service-box-info h4 {
  font-weight: bold;
  margin: 0;
  color: #37b24d;
  font-size: 20px;
  text-transform: uppercase;
}
main .services-section .flip .card .card-body .service-box-info svg {
  color: #37b24d;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 2px solid #37b24d;
  background-color: #d3f9d8;
}
main .services-section .flip .card .card-body .service-box-info .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  border-top: 1px solid #37b24d;
  background-color: #d3f9d8;
  gap: 10px;
}
main .services-section .flip .card .card-body .service-box-info .rating svg {
  padding: 0;
  height: 24px;
  width: 24px;
  color: #ffd43b;
  border: none;
  background-color: transparent;
  margin: 0;
}
main .services-section .flip .card .card-body .service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
main .services-section .flip .card .card-body .service-list div {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #ccc;
}
main .services-section .flip .card .card-body .service-list div:last-child {
  border-bottom: none;
}
main .services-section .flip .card .card-body .service-list div:hover, main .services-section .flip .card .card-body .service-list div:active, main .services-section .flip .card .card-body .service-list div:focus, main .services-section .flip .card .card-body .service-list div:focus-visible {
  background-color: #37b24d;
  color: #fff;
}
main .services-section .flip .card .card-body .service-list div span {
  font-size: 16px;
}
main .appointment-form-section {
  padding: 90px 0;
  background-color: #d7f0db;
}
main .appointment-form-section .btn-outline {
  width: 215px;
  justify-content: flex-start;
}
main .appointment-form-section .btn-outline svg {
  transition: 0.5s all;
}
main .appointment-form-section .btn-outline:hover {
  transition: 0.5s all;
}
main .appointment-form-section .btn-outline:hover svg {
  margin-left: 10px;
  transition: 0.5s all;
}
main .appointment-form-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}
main .appointment-form-section .custom-form {
  background-color: #f1f3f5;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main .appointment-form-section .custom-form .form-title {
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}
main .appointment-form-section .custom-form .form-control,
main .appointment-form-section .custom-form .form-select {
  padding: 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #37b24d;
  transition: 0.5s all;
}
main .appointment-form-section .custom-form .form-control:hover, main .appointment-form-section .custom-form .form-control:focus, main .appointment-form-section .custom-form .form-control:active, main .appointment-form-section .custom-form .form-control:focus-visible,
main .appointment-form-section .custom-form .form-select:hover,
main .appointment-form-section .custom-form .form-select:focus,
main .appointment-form-section .custom-form .form-select:active,
main .appointment-form-section .custom-form .form-select:focus-visible {
  box-shadow: 0 0 6px #37b24d;
  outline: none;
  transition: 0.5s all;
}
main .appointment-form-section .custom-form .btn-submit,
main .appointment-form-section .custom-form input[type=submit] {
  margin-top: 20px;
  background-color: #37b24d;
  color: #fff;
  border: none;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .appointment-form-section .custom-form .btn-submit:hover,
main .appointment-form-section .custom-form input[type=submit]:hover {
  background-color: #32a045;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px #37b24d;
}
main .section-pricing {
  padding: 50px 0;
  position: relative;
}
main .section-pricing .container {
  padding: 50px 0;
  position: relative;
}
main .section-pricing .container:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #d7f0db;
  height: 50%;
  border-radius: 0 0 100% 100%;
}
main .section-pricing p,
main .section-pricing h1 {
  text-align: center;
}
main .section-pricing h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .section-pricing .card {
  width: 85%;
  border-radius: 9px;
  text-align: center;
  background-color: #f1f3f5;
  border: 0;
  margin: 50px auto 0;
}
main .section-pricing .card .card-header {
  position: relative;
  padding: 60px;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  border-radius: 9px 9px 0 0;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
main .section-pricing .card .card-header.price-info__img-01 {
  background-image: linear-gradient(to bottom, rgba(235, 247, 237, 0.8), rgba(209, 235, 169, 0.5)), url("../img/pregnancy.webp");
  /* Add your image path */
}
main .section-pricing .card .card-header.price-info__img-02 {
  background-image: linear-gradient(to bottom, rgba(235, 247, 237, 0.8), rgba(209, 235, 169, 0.5)), url("../img/health.webp");
  /* Add your image path */
}
main .section-pricing .card .card-header.price-info__img-03 {
  background-image: linear-gradient(to bottom, rgba(235, 247, 237, 0.8), rgba(209, 235, 169, 0.5)), url("../img/dentist.webp");
  /* Add your image path */
}
main .section-pricing .card .card-header.price-info__img-04 {
  background-image: linear-gradient(to bottom, rgba(235, 247, 237, 0.8), rgba(209, 235, 169, 0.5)), url("../img/operation.webp");
  /* Add your image path */
}
main .section-pricing .card .card-header div {
  display: flex;
  justify-content: center;
  background-color: #37b24d;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 7px 25px;
  top: 0;
  transform: translateY(-50%);
  width: -moz-max-content;
  width: max-content;
  border-radius: 9px;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  /* Smaller "/year" text */
}
main .section-pricing .card .card-header div .plan-price {
  font-size: 40px;
  margin: 10px 0;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  /* Align the dollar sign and number to the top */
}
main .section-pricing .card .card-header div .plan-price span {
  font-size: 16px;
  margin-right: 4px;
  /* Add a small gap if necessary */
  line-height: 1.2;
  /* Adjust spacing to align it better */
}
main .section-pricing .card .card-header div .plan-text {
  font-size: 14px;
  display: inline-flex;
  align-items: flex-end;
  margin: 15px 0;
}
main .section-pricing .card .card-header .plan-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-wrap: nowrap;
}
main .section-pricing .card .card-body {
  padding: 20px 0 10px;
}
main .section-pricing .card .card-body ul li {
  font-size: 16px;
}
main .section-pricing .card .card-footer {
  padding: 10px 0 20px;
  background-color: transparent;
  justify-content: center;
  border: 0;
}
main .section-pricing .doctor__contact a {
  text-decoration: none;
}
main .doctor-section {
  padding: 50px 0;
}
main .doctor-section p,
main .doctor-section h1 {
  text-align: center;
}
main .doctor-section h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .doctor-section .card {
  background-color: #f1f3f5;
  border-radius: 9px;
}
main .doctor-section .card .card-body {
  padding: 0;
}
main .doctor-section .card .card-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 9px 0 0 9px;
}
main .doctor-section .card .card-body .doctorInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
main .doctor-section .card .card-body .doctorInfo h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
main .doctor-section .card .card-body .doctorInfo p {
  font-size: 16px;
  font-style: italic;
  text-align: left;
  color: #333;
  line-height: 1.6;
}
main .doctor-section .card .card-body .doctorInfo p.desigination {
  color: #37b24d;
}
main .doctor-section .card .card-body .doctorInfo .doctor-details {
  padding: 20px 40px 0;
}
main .doctor-section .card .card-body .doctorInfo .doctor-contact {
  border: none;
  border-top: 1px solid #dee2e6;
  padding: 20px 40px;
}
main .doctor-section .card .card-body .doctorInfo .doctor-contact a {
  text-decoration: none;
}
main .doctor-section .card .card-body .doctorInfo .doctor-contact a svg {
  width: 50px;
  height: 50px;
  color: #32a045;
  stroke-width: 0.8;
}
main .find-a-doc-section {
  padding: 50px 0;
  background-color: #d7f0db;
}
main .find-a-doc-section h1,
main .find-a-doc-section p {
  text-align: center;
}
main .find-a-doc-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 14px;
}
main .find-a-doc-section p.heading-four {
  font-size: 24px;
}
main .find-a-doc-section h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .find-a-doc-section .findDocform {
  margin-top: 30px;
  border-radius: 9px;
}
main .find-a-doc-section .findDocform .form-control,
main .find-a-doc-section .findDocform .form-select {
  border-radius: 9px;
  padding: 20px;
  margin: 0 auto;
  border: none;
  font-size: 16px;
  color: #37b24d;
  transition: 0.5s all;
}
main .find-a-doc-section .findDocform .form-control:hover, main .find-a-doc-section .findDocform .form-control:focus, main .find-a-doc-section .findDocform .form-control:active, main .find-a-doc-section .findDocform .form-control:focus-visible,
main .find-a-doc-section .findDocform .form-select:hover,
main .find-a-doc-section .findDocform .form-select:focus,
main .find-a-doc-section .findDocform .form-select:active,
main .find-a-doc-section .findDocform .form-select:focus-visible {
  box-shadow: 0 0 6px #37b24d;
  outline: none;
  transition: 0.5s all;
}
main .find-a-doc-section .findDocform .btn-submit,
main .find-a-doc-section .findDocform input[type=submit] {
  background-color: #37b24d;
  color: #fff;
  border: none;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .find-a-doc-section .findDocform .btn-submit:hover,
main .find-a-doc-section .findDocform input[type=submit]:hover {
  background-color: #32a045;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px #37b24d;
}
main .section-testimonial {
  padding: 50px 0;
}
main .section-testimonial h1,
main .section-testimonial p {
  text-align: center;
}
main .section-testimonial p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 14px;
}
main .section-testimonial p.heading-four {
  font-size: 24px;
}
main .section-testimonial h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .section-testimonial .card {
  background-color: transparent;
  border: 0;
}
main .section-testimonial .card .card-body {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}
main .section-testimonial .card .card-body .circle-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  position: relative;
}
main .section-testimonial .card .card-body .circle-container:hover {
  border-color: #37b24d;
}
main .section-testimonial .card .card-body .circle-container:hover svg {
  background-color: #37b24d;
  color: #fff;
}
main .section-testimonial .card .card-body .circle-container svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 64px;
  width: 64px;
  background-color: #f1f3f5;
  color: #37b24d;
  padding: 10px;
  border: none;
  border-radius: 50%;
  left: 0;
  margin: 0 auto;
  transform: translate(0, 50%) rotate(180deg);
}
main .section-testimonial .card .card-body .circle-container .img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
main .section-testimonial .card .card-body .circle-container .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section-testimonial .card .card-body h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-top: 1px solid #f1f3f5;
}
main .section-testimonial .card .card-body .patient-profession {
  font-style: italic;
  color: #37b24d;
  margin-bottom: 0;
}
main .section-testimonial .swiper-pagination {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-testimonial .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 20px;
  height: 20px;
  background-color: #f1f3f5;
  border: 1px solid #37b24d;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
main .section-testimonial .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #37b24d;
  width: 40px;
  height: 40px;
}
main .blog-section {
  padding: 50px 0;
}
main .blog-section h1,
main .blog-section p {
  text-align: center;
}
main .blog-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 14px;
}
main .blog-section p.heading-four {
  font-size: 24px;
}
main .blog-section h1 {
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-weight: bold;
}
main .blog-section .card {
  background-color: #fff;
  border-radius: 9px;
}
main .blog-section .card .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .blog-section .card .card-body h4 {
  font-size: 24px;
  text-align: left;
  color: #333;
  font-weight: bold;
}
main .blog-section .card .card-body p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
  color: #666;
  text-align: left;
}
main .blog-section .card .card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0 0 9px 9px;
}
main .blog-section .card .card-footer .post-author {
  gap: 10px;
  display: flex;
  align-items: center;
}
main .blog-section .card .card-footer .post-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
  -o-object-fit: cover;
     object-fit: cover;
}
main .blog-section .card .card-footer .post-author h6 {
  font-size: 14px;
  margin-bottom: 0;
  color: #555;
}
main .blog-section .card .card-footer .post-info {
  display: flex;
  gap: 20px;
}
main .blog-section .card .card-footer .post-info .stats {
  font-size: 12px;
}
main .blog-section .card .card-footer .post-info .stats svg {
  color: #37b24d;
  stroke-width: 1.2;
}

#footer .footer-section {
  padding: 50px 0;
  background-color: #d7f0db;
}
#footer .footer-section p {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}
#footer .footer-section #newsletterform {
  border-radius: 9px;
  margin-bottom: 30px;
}
#footer .footer-section #newsletterform .form-control,
#footer .footer-section #newsletterform .form-select {
  border-radius: 9px 0 0 9px;
  padding: 16px 10px;
  margin: 0 auto;
  border: none;
  font-size: 16px;
  color: #37b24d;
  transition: 0.5s all;
}
#footer .footer-section #newsletterform .form-control:hover, #footer .footer-section #newsletterform .form-control:focus, #footer .footer-section #newsletterform .form-control:active, #footer .footer-section #newsletterform .form-control:focus-visible,
#footer .footer-section #newsletterform .form-select:hover,
#footer .footer-section #newsletterform .form-select:focus,
#footer .footer-section #newsletterform .form-select:active,
#footer .footer-section #newsletterform .form-select:focus-visible {
  box-shadow: 0 0 6px #37b24d;
  outline: none;
  transition: 0.5s all;
}
#footer .footer-section #newsletterform .btn-submit,
#footer .footer-section #newsletterform input[type=submit] {
  background-color: #37b24d;
  color: #fff;
  border: none;
  padding: 16px 10px;
  margin: 0 auto;
  border: none;
  font-size: 16px;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#footer .footer-section #newsletterform .btn-submit:hover,
#footer .footer-section #newsletterform input[type=submit]:hover {
  background-color: #32a045;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 6px #37b24d;
}
#footer .footer-section ul {
  gap: 10px;
}
#footer .footer-section ul li a {
  color: #555;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  transition: 0.5s all;
  padding: 0;
}
#footer .footer-section ul li a:hover {
  color: #37b24d;
  text-decoration: underline;
}
#footer .footer-section ul li a svg {
  stroke: #37b24d;
  width: 30px;
  height: 30px;
  stroke-width: 1.2;
}
#footer .site-footer {
  background-color: #37b24d;
  padding: 20px 10px;
}
#footer .site-footer p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}
#footer .site-footer p a {
  color: #fff;
  text-decoration: none;
}
#footer .site-footer p a:hover {
  text-decoration: underline;
}

#up-arrow {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 50px;
  height: 80px;
  background-color: #37b24d;
  border: 1px solid #37b24d;
  color: #fff;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  z-index: 1000;
}
#up-arrow:hover, #up-arrow:active, #up-arrow:focus, #up-arrow:focus-visible {
  background-color: #fff;
  border-color: #32a045;
  color: #32a045;
  box-shadow: 0 0 6px #37b24d;
  transition: 0.3s all;
}
#up-arrow svg {
  width: 24px;
  height: 24px;
}
#up-arrow.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1399.98px) {
  .heading-primary {
    font-size: 45px;
  }
  main .section-health .health-img-box .health-img {
    width: 280px;
  }
}
@media (max-width: 1199.98px) {
  #header nav .navbar-brand {
    width: 30%;
  }
  #header nav .navbar-brand img {
    width: 100%;
  }
  #header nav ul:not(.dropdown-menu) {
    gap: 15px;
  }
  #header nav ul:not(.dropdown-menu) > li > a {
    font-size: 16px;
  }
  .heading-primary {
    font-size: 35px;
  }
  main .section-health p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
    padding: 10px 25px;
  }
  main .section-about p.heading-four,
  .heading-four,
  main .find-a-doc-section p.heading-four,
  main .section-testimonial p.heading-four,
  main .blog-section p.heading-four,
  main .blog-section .card .card-body h4 {
    font-size: 20px;
  }
  main .section-about h1,
  main .services-section h1,
  main .section-pricing h1,
  main .doctor-section h1,
  main .find-a-doc-section h1,
  main .section-testimonial h1,
  main .blog-section h1 {
    font-size: 25px;
  }
  main .section-about p,
  main .find-a-doc-section p,
  main .section-testimonial p {
    font-size: 16px;
  }
  main .appointment-form-section .custom-form {
    padding: 10px;
  }
  main .appointment-form-section .custom-form .form-title {
    margin-bottom: 0;
  }
  main .doctor-section .card .card-body .doctorInfo .doctor-details {
    padding: 15px 15px 0;
  }
  main .doctor-section .card .card-body .doctorInfo .doctor-contact {
    padding: 15px;
  }
  main .doctor-section .card .card-body .doctorInfo h4 {
    font-size: 20px;
  }
  main .doctor-section .card .card-body .doctorInfo p {
    font-size: 14px;
  }
  main .doctor-section .card .card-body .doctorInfo .doctor-contact a svg {
    width: 35px;
    height: 35px;
  }
  main .section-testimonial .card .card-body {
    width: 90%;
  }
  main .blog-section .card .card-body p {
    font-size: 13px;
  }
  main .blog-section .card .card-footer .post-author img {
    width: 40px;
    height: 40px;
  }
  #footer .footer-section p {
    font-size: 14px;
  }
  #footer .footer-section ul li a {
    font-size: 14px;
  }
  #footer .footer-section #newsletterform .btn-submit,
  #footer .footer-section #newsletterform input[type=submit] {
    padding: 10px 5px;
    font-size: 14px;
  }
  #footer .footer-section #newsletterform .form-control,
  #footer .footer-section #newsletterform .form-select {
    padding: 10px 5px;
    font-size: 14px;
  }
  main .section-health .health-img-box .health-img {
    width: 220px;
  }
}
@media (max-width: 991.98px) {
  main .section-about h1,
  main .services-section h1,
  main .section-pricing h1,
  main .doctor-section h1,
  main .find-a-doc-section h1,
  main .section-testimonial h1,
  main .blog-section h1 {
    font-size: 20px;
  }
  main .section-about h1,
  .heading-primary,
  .health-description {
    margin-bottom: 10px;
  }
  main .section-about p,
  main .find-a-doc-section p {
    font-size: 14px;
  }
  .heading-primary {
    font-size: 24px;
  }
  main .section-health p {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  main .section-about p.heading-four,
  .heading-four,
  main .find-a-doc-section p.heading-four,
  main .section-testimonial p.heading-four,
  main .blog-section p.heading-four,
  main .blog-section .card .card-body h4 {
    font-size: 16px;
  }
  main .section-about,
  main .section-featured,
  main .section-pricing,
  main .doctor-section,
  main .find-a-doc-section,
  main .section-testimonial,
  main .blog-section,
  #footer .footer-section {
    padding: 25px 0;
  }
  main .services-section {
    padding: 25px 0 45px;
  }
  main .appointment-form-section {
    padding: 45px 0;
  }
  main .section-testimonial .swiper-pagination {
    margin-top: 10px;
  }
  #footer .footer-section .heading-four {
    margin: 20px 0 15px;
  }
  .offcanvas-body ul li {
    margin-bottom: 10px;
  }
  main .section-health .health-img-box .health-img {
    width: 200px;
  }
  #header nav ul:not(.dropdown-menu) {
    align-items: stretch;
    gap: 5px;
  }
  #header nav ul:not(.dropdown-menu) > li > a {
    padding: 8px 16px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
  }
  #header nav ul:not(.dropdown-menu) > li > a::before {
    display: none;
  }
  #header nav ul:not(.dropdown-menu) > li > a.active,
  #header nav ul:not(.dropdown-menu) > li > a:hover {
    color: #fff;
    background-color: #37b24d;
  }
  #header nav ul:not(.dropdown-menu) > li > a.btn {
    width: 100%;
  }
  #header nav ul.dropdown-menu[data-bs-popper] {
    margin: 0;
  }
  #header nav ul.dropdown-menu[data-bs-popper] li a {
    display: flex;
    justify-content: center;
  }
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 0;
  display: block;
  animation: fadeInAnim 0.5s ease-in forwards;
}

@keyframes fadeInAnim {
  to {
    opacity: 1;
  }
}
@media (min-width: 767.98px) {
  .visibleOnTablet {
    display: none;
  }
  #tabOrMobOnly {
    display: none;
  }
  .card-body.back .learn-more-btn {
    display: none;
  }
  main .section-health .header-swiper {
    display: none;
  }
}
@media (max-width: 768.98px) {
  main .services-section .flip .card .card-body.front .learn-more-btn {
    display: none !important;
  }
  main .services-section .flip .card .card-body.back .learn-more-btn {
    bottom: -20px;
    position: absolute;
    padding: 5px 20px;
    left: 0;
    right: 0;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    background-color: #37b24d;
    color: #fff;
    border: 3px solid #fff;
    transition: 0.5s all;
  }
  main .section-about .card-body {
    padding: 10px 10px 10px 0;
  }
  main .section-about .card-img-top {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
  }
  main .section-about p.general-text-size {
    margin: 0;
  }
  #desktopOnly {
    display: none;
  }
  .hideOnTablet {
    display: none;
  }
  main .section-health .health-img-box .health-img {
    width: 270px;
  }
  main .appointment-form-section .cta-group {
    margin-bottom: 40px;
  }
  main .appointment-form-section p {
    margin-bottom: 20px;
  }
  main .appointment-form-section .custom-form {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
  .arrow-btn button {
    background-color: #37b24d;
  }
  .arrow-btn button svg {
    color: #fff;
  }
  main .find-a-doc-section .findDocform .btn-submit,
  main .find-a-doc-section .findDocform input[type=submit] {
    margin-top: 20px;
  }
  main .find-a-doc-section {
    padding: 45px 0;
  }
  main .section-health .health-img-box {
    min-height: 265px;
  }
  main .section-health p {
    margin-bottom: 20px;
  }
  .cta-group {
    margin-top: 20px;
  }
  main .section-health p {
    text-align: center;
  }
  .cta-group {
    justify-content: center;
  }
  main .section-about p.heading-four,
  main .section-about h1 {
    text-align: left;
  }
  .heading-four,
  main .find-a-doc-section p.heading-four,
  main .section-testimonial p.heading-four,
  main .blog-section p.heading-four {
    text-align: center;
  }
  main .blog-section .card .card-body {
    padding-left: 0;
  }
  main .blog-section .card .card-footer {
    padding-left: 0;
  }
  main .blog-section .card .card-img-top {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 9px 0 0 9px;
  }
  main .blog-section .card .card-body p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  main .appointment-form-section p {
    text-align: center;
  }
  .heading-primary,
  .health-description {
    text-align: center;
  }
  main .appointment-form-section .btn-outline {
    width: -moz-max-content;
    width: max-content;
  }
  main .section-pricing .container:before {
    height: 25%;
  }
  #footer .site-footer .row {
    gap: 20px;
  }
  .cta-group .btn:not(.noTransition).btn-outline svg,
  .cta-group .btn:not(.noTransition).btn-outline.no-effect svg {
    transform: rotate(90deg) !important;
    margin: 0;
  }
  .arrow-btn button {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow-btn button.left-btn {
    left: 0;
    right: auto;
  }
  .arrow-btn button.right-btn {
    right: 0;
    left: auto;
  }
  main .section-pricing .card {
    width: 70%;
  }
  main .blog-section .card .card-body {
    gap: 10px;
  }
  #footer .footer-section .heading-four {
    text-align: left;
  }
  #up-arrow {
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  main .doctor-section .card {
    width: 70%;
    margin: 0 auto;
  }
  main .doctor-section .card .card-body img {
    border-radius: 9px 9px 0 0;
    -o-object-position: top;
       object-position: top;
  }
  main .section-health {
    padding: 50px 0 50px 0;
  }
  .heading-primary {
    font-size: 38px;
  }
  main .services-section .flip .card .card-body.back .btn-arrow {
    display: none;
  }
  main .services-section .flip .card {
    min-height: 270px;
  }
}
@media (min-width: 575.98px) {
  main .section-health .header-swiper {
    display: none;
  }
}
@media screen and (max-width: 576.98px) {
  .heading-primary {
    font-size: 28px;
  }
  main .section-about .card {
    border-radius: 9px;
  }
  main .section-about .card-img-top {
    border-radius: 9px 9px 0 0;
  }
  main .section-about .card-body {
    padding: 10px;
  }
  #footer .footer-section ul {
    justify-content: flex-start;
    align-items: flex-start;
  }
  main .find-a-doc-section .findDocform .btn-submit,
  main .find-a-doc-section .findDocform input[type=submit] {
    margin-top: 0px;
  }
  main .section-about p.heading-four,
  .heading-four,
  main .find-a-doc-section p.heading-four,
  main .section-testimonial p.heading-four,
  main .blog-section p.heading-four,
  main .blog-section .card .card-body h4 {
    font-size: 13px;
  }
  .cta-group {
    justify-content: center;
  }
  .featured-swiper .swiper-wrapper {
    gap: 25px !important;
  }
  main .services-section {
    padding: 0px 0 45px;
  }
  main .services-section .flip .card .card-body .service-box-info .rating {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  main .appointment-form-section .custom-form {
    margin-top: 30px;
  }
  .findDocform > .row {
    gap: 5px !important;
  }
  .heading-four {
    text-underline-offset: 3px;
  }
  #header nav .navbar-brand {
    width: 50%;
  }
  .btn {
    font-size: 13px;
    padding: 10px 18px;
  }
  main .services-section .flip .card .card-body.back .service-box-info h4 {
    font-size: 12px;
  }
  main .appointment-form-section .custom-form .form-title {
    font-size: 25px;
  }
  .section-pricing .px-5 {
    padding: 0 10px !important;
  }
  main .section-pricing .card .card-header {
    padding: 60px 20px;
  }
  main .section-pricing .card .card-header .plan-name {
    font-size: 20px;
  }
  main .section-pricing .card .card-body ul li {
    font-size: 13px;
  }
  main .section-about h1,
  main .services-section h1,
  main .section-pricing h1,
  main .doctor-section h1,
  main .find-a-doc-section h1,
  main .section-testimonial h1,
  main .blog-section h1 {
    font-size: 19px;
  }
  main .blog-section .card .card-footer {
    padding-right: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .offcanvas-body h4.heading-four.mt-5 {
    margin-top: 20px !important;
  }
  #footer .site-footer p {
    font-size: 13px;
  }
  main .section-health .health-img-box .health-img {
    width: 260px;
  }
  main .section-testimonial .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    height: 30px;
  }
  #header nav ul:not(.dropdown-menu) > li > a::before {
    display: none;
  }
  main .services-section .flip .card {
    min-height: 250px;
  }
  main .services-section .flip .card .card-body.back .service-box-info {
    padding: 10px 20px;
  }
  main .section-health .health-img-box {
    display: none !important;
  }
}
@media (max-width: 450.98px) {
  #header nav .offcanvas .offcanvas-header {
    padding: 1rem;
  }
  #header nav .offcanvas .offcanvas-header .logo-link img {
    width: 50%;
  }
  main .section-health .health-img-box .health-img {
    width: 250px;
  }
  main .section-health .health-img-box {
    min-height: 205px;
  }
}
@media (max-width: 425.98px) {
  main .section-health .health-img-box .health-img {
    width: 230px;
  }
  main .section-health .health-img-box {
    min-height: 200px;
  }
}
@media (max-width: 375.98px) {
  main .section-health .health-img-box .health-img {
    width: 185px;
  }
  main .section-health .health-img-box {
    min-height: 170px;
  }
  #up-arrow {
    right: 10px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */